.app {
  text-align: center;
}

.movie-selection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movie {
  align-items: center;
  margin-bottom: 2rem;
  cursor: pointer;
}

.movie-poster {
  border-radius: 20px;
  height: 300px;
}

.movie-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.screen-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.screen {
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s;
  padding: 1rem;
}

.screen:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.screen.selected {
  background-color: #168ec5;
  color: rgb(37, 26, 26);
}

.screen-number {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.screen-time {
  font-size: 1.5rem;
  color: #aaa;
  margin-bottom: 1rem;
}

.screen-seats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.seat {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seat:hover {
  background-color: rgba(0, 0, 255, 0.3);
}

.seat.selected {
  background-color: blue;
  color: white;
}

.seat.unavailable {
  background-color: #ccc;
  color: #444;
  cursor: not-allowed;
}
